.gottoms-b button {
  background-color: gray; /* Green background */
  border: 1px solid gray; /* Green border */
  color: white; /* White text */
  padding: 8px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.gottoms-b button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.gottoms-b:after {
  content: "";
  clear: both;
  display: inline-block;
}

/* Add a background color on hover */
.gottoms-b button:hover {
  background-color: #3e8e41;
}